body, html {
	height: 100%;
}

body {
    background-color: #a5d87c;
}

header {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	z-index: 10;
  	margin-top: -20px;
}

a {
	color: inherit;
	text-decoration: none;
}

ul{
  list-style: none;
}

nav ul{
	background-color: #6DA83E;
	border-top: 3px solid #006936;
	border-bottom: 3px solid #006936;

	font-weight: bold;
	color: #004736;
	font-size: 22px;

	padding: 20px;
	padding-left: 100px;
}

nav ul li{
  display: inline;

  padding: 10px;
  padding-right: 12px;
  padding-left: 12px;
}

nav ul li:not(:first-child):hover {
  background-color: rgb(238,238,238);
  background-color: rgba(238,238,238,0.4);
}

nav ul li a img{
	position: absolute;
	width: 80px;
	transform: translate(-80px, -20px);
}


/*
Color Palettes
---------------
Light green 6DA83E
Dark green 006936
Pale dark green 004736

Gold #FAFF00
Dark gold #FF9900

Light brown BFAC69
Dark brown 5E462A

Light gray 403737
Dark gray 383030

Discord gray 99AAB5 
Discord blue 7289DA
---------------
*/

#hometown-img {
  background-image: url("../images/HomeTownMap.png");
}

#botlogo-img {
  background-image: url("../images/BotIcon.png");
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.align-center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bg-image {
  height: 100%;

  background-position: center;;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  margin-top: -30px;
  margin-bottom: -15px;
}

.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);

  color: white;
  font-size: 25px;
  font-weight: bold;

  border-top: 3px solid #004736;
  border-bottom: 3px solid #004736;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 30px;
  text-align: center;
}

#invite:hover {
  background-color: rgb(238,238,238);
  background-color: rgba(238,238,238,0.4);
  font-size: 30px;
  padding: 15px;
}


.landscape {
	background-color: #86b163;

	padding: 50px;
	text-align: center;

	z-index: 5;
}

.landscape h2{
  font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 30px;
}

.landscape p{
	font-size: 20px;
}

.module1 {
  overflow: hidden;
  padding: 20px;
  margin-top: 30px;
}

.module2:not(:last-child) {
  min-height: 200px;
  max-height: 200px;
  min-width: 350px;
  max-width: 350px;
  position: relative;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: #63cc63;
  margin-left: 2%;
  margin-top: 2%;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #004736;
}

.module2:last-child{
  width: 85%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: #63cc63;
  margin-left: 2%;
  margin-top: 2%;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #004736;
}

.module2 h3{
	font-family: 'Noto Sans JP', serif;
	font-size: 15px;
	background-color: #237d23;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -20px;
	margin-right: -20px;
}

.module2 p{
	background-color: #4ca54c;
	padding: 10px;
	border-radius: 6px;
}

.module2 ul{
    margin-left: -20px;
    margin-right: -20px;
    text-align: left;
}

.module2 ul li{
	display: inline;
	background-color: #368e36;
	border: 1px solid green;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	margin-left: 2px;
	margin-right: 2px;
}

.screenshot{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}

.boring-monologue p{
  font-size: 19px;
  background-color: #98cd76;
  width: 50%;
  margin-left: auto;
  margin-right:auto;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.shadow img{
  box-shadow: 0 0 5px 2px #004736;
  border-radius: 5px;
}

#group1 img:first-child{
    transform: translate(-100px, 0px);
}

#group1 img:last-child{
    transform: translate(200px, -150px);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
}

.grids {
	padding: 30px;

 	font-weight: bold;
 	font-size: 18px;
}

.grids h2{
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 70px;
    font-size: 28px;
    color: #006936;
}

.grids p{
	color: #162d03;
}

article section:first-child{
	margin-top: 100px;
} 